.tips {
  display: flex;
  flex-direction: column;
  background-color: #efe9e7;
}

.tips-header {
  display: flex;
  justify-content: center;
}

.tips-box {
  border-top: 1px solid #979797;
  margin: 82px 13px 0 13px;
  padding: 0 80px;
}

.tips-description {
  color: #3d1101;
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
  margin-top: 50px;
  margin-bottom: 31px;
}

.tips-items {
  display: flex;
  justify-content: space-around;
}

.tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.tip img {
  border-radius: 100px;
}

.tip-title {
  color: #3d1101;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 11px;
}

.tip-content {
  color: #3d1101;
  font-size: 18px;
}

@media (max-width: 768px) {
  .tips {
    padding-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .tips {
    padding-bottom: 60px;
  }

  .tips-box {
    display: none;
  }

  .tips-items {
    flex-direction: column;
    align-items: center;
  }

  .tip {
    width: 80%;
    margin-bottom: 30px;
  }
}

.chef-section {
  display: flex;
  background-color: #3d1101;
}

.chef-image {
  margin-left: 42px;
  object-fit: contain;
}

.chef-info {
  color: #efe9e7;
  margin-top: 81px;
  margin-left: 25px;
}

.chef-info .chef-name-ch {
  font-size: 20px;
  margin-bottom: 3px;
}

.chef-info .chef-name-en {
  font-size: 16px;
  margin-bottom: 16px;
}

.chef-info .chef-description {
  font-size: 16px;
  line-height: 1.2;
  margin-right: 35px;
}

@media (max-width: 768px) {
  .chef-image {
    margin-left: 11px;
    overflow: hidden;
  }

  .chef-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 130% center;
  }

  .chef-info {
    margin-top: 49px;
  }

  .chef-info .chef-description {
    width: 330px;
    margin-bottom: 49px;
  }
}

@media (max-width: 375px) {
  .chef-section {
    display: flex;
    flex-direction: column;
  }

  .chef-image {
    margin-left: 0;
    margin-right: 0;
    width: 375px;
    height: 460px;
  }

  .chef-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% center;
  }

  .chef-info {
    margin: 0;
  }

  .chef-info .chef-name-ch {
    margin-top: 30px;
    margin-left: 30px;
  }

  .chef-info .chef-name-en {
    margin-left: 30px;
  }

  .chef-info .chef-description {
    margin: 16px 30px 30px 30px;
  }
}

.comments-section {
  display: flex;
  flex-direction: column;
  background-color: #efe9e7;
  color: #3d1101;
}

.comments-title {
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
}

.comments {
  display: flex;
  justify-content: space-between;
  margin: 32px 42px 50px 42px;
}

.single-comment {
  display: flex;
}

.avatar img {
  border-radius: 34px;
}

.comment .person-name {
  font-size: 18px;
  margin-top: 24px;
  margin-left: 13px;
}

.comment .comment-content {
  font-size: 16px;
  width: 220px;
  margin-top: 22px;
  margin-left: 13px;
}

.comment .person-title {
  opacity: 75%;
  width: 220px;
  text-align: right;
  margin-top: 16px;
  margin-left: 13px;
}

@media (max-width: 768px) {
  .comments {
    margin: 32px 10px 53px 10px;
  }

  .comment .comment-content {
    width: 155px;
  }

  .comment .person-title {
    width: 155px;
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .comments {
    flex-direction: column;
    margin: 32px 10px 57px 10px;
  }

  .comment .comment-content {
    font-size: 18px;
    width: 260px;
  }

  .comment .person-title {
    font-size: 18px;
    width: 260px;
    margin-left: 0;
  }
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.reservation .reservation-title {
  color: #3d1101;
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  margin-top: 50px;
  margin-bottom: 38px;
}

.reserve-info {
  display: flex;
}

.reserve-info img {
  margin-bottom: 50px;
  margin-left: 42px;
  margin-right: 20px;
}

.reserve-info label,
.reserve-info p {
  color: #3d1101;
  font-size: 14px;
}

#reserve-name,
#reserve-tel,
#reserve-email,
#reserve-num {
  width: 460px;
  height: 32px;
  margin-top: 6px;
}

#reserve-name,
#reserve-tel,
#reserve-email {
  margin-bottom: 17px;
}

#reserve-num {
  margin-bottom: 12px;
}

.reserve-info .veg-label {
  display: inline-flex;
  align-items: center;
}

#label-no {
  margin-left: 36px;
}

.reserve-info .reserve-veg {
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 50%;
}

#cancel {
  display: inline-block;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  border: none;
  width: 70px;
  height: 32px;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: 308px;
}

#confirm {
  background: #f56c23;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  width: 70px;
  height: 32px;
  margin-left: 7px;
}

@media (max-width: 768px) {
  .reserve-info img {
    width: 368px;
    height: 386px;
    object-fit: cover;
    object-position: -10% center;
    margin-left: 11px;
  }

  #reserve-name,
  #reserve-tel,
  #reserve-email,
  #reserve-num {
    width: 363px;
  }

  #cancel {
    margin-left: 213px;
  }
}

@media (max-width: 375px) {
  .reserve-info {
    max-width: 375px;
    flex-direction: column;
  }

  .reserve-info img {
    width: 353px;
    height: 386px;
    object-fit: cover;
    margin-left: 7px;
  }

  .reserve-info label,
  .reserve-info p {
    margin-left: 15px;
  }

  #reserve-name,
  #reserve-tel,
  #reserve-email,
  #reserve-num {
    width: 344px;
    margin-left: 15px;
  }

  #cancel {
    margin-left: 203px;
  }

  #cancel,
  #confirm {
    margin-bottom: 50px;
  }
}
